<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    class="registration-form"
  >
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <!--Use the name `name` for the form control.-->
        <input type="text" id="name" placeholder="Input text" name="name" formControlName="name"/>
        <ng-template [ngIf]="name?.invalid && (name?.dirty || name?.touched)">
          <span *ngIf="name?.errors?.['required']" id="nameErrorMessage" class="text-danger">Name is required.</span>
          <span *ngIf="name?.errors?.['minlength']" id="nameErrorMessage" class="text-danger">Minimum name length: 6</span
        >
        </ng-template>
      </div>
      <div class="form__control">
        <!--Use the name `email` for the form control.-->
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Input text" name="email" formControlName="email"/>
        <ng-template [ngIf]="email?.invalid && (submitted || email?.touched)">
          <span *ngIf="email?.errors?.['required']" id="emailErrorMessage" class="text-danger">Email is required.</span>
          <span *ngIf="email?.errors?.['emailValidator']" id="emailErrorMessage" class="text-danger">Email is invalid.</span>
        </ng-template>
      </div>
      <div class="form__control">
        <!--Use the name `password` for the form control.-->
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Input text" name="password" formControlName="password"/>
        <ng-template [ngIf]="password?.invalid && (submitted || password?.touched)">
          <span *ngIf="password?.errors?.['required']" id="passwordErrorMessage" class="text-danger">Password is required.</span>
        </ng-template>
      </div>
    </div>
    <div class="form__action">
      <app-button type="submit" buttonText="Register"></app-button>
    </div>
    <div class="form__text">
      If you have an account you may <a routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
    </div>
  </form>
</div>
